*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{animation: 2s ease-out 0s 1 FadeIn;}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}



.banner{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(25%2c 72%2c 187%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c331.535C70.58%2c337.962%2c154.584%2c370.302%2c208.171%2c323.92C263.143%2c276.339%2c236.389%2c185.783%2c250.741%2c114.51C261.354%2c61.805%2c281.7%2c13.283%2c281.547%2c-40.48C281.374%2c-101.317%2c283.205%2c-165.608%2c249.801%2c-216.454C214.6%2c-270.036%2c156.931%2c-306.921%2c95.182%2c-324.159C33.861%2c-341.277%2c-32.753%2c-336.196%2c-91.535%2c-311.741C-147.078%2c-288.633%2c-183.422%2c-238.52%2c-221.873%2c-192.254C-259.546%2c-146.923%2c-298.749%2c-102.175%2c-313.193%2c-45.03C-328.601%2c15.932%2c-328.317%2c80.942%2c-305.759%2c139.635C-282.411%2c200.382%2c-240.276%2c253.51%2c-185.154%2c288.106C-130.35%2c322.502%2c-64.437%2c325.668%2c0%2c331.535' fill='%23123589'%3e%3c/path%3e%3cpath d='M1440 916.2950000000001C1507.111 906.78 1566.057 878.682 1629.5430000000001 854.935 1712.088 824.059 1824.606 832.0640000000001 1868.891 755.8679999999999 1912.471 680.885 1853.787 587.781 1833.873 503.37 1815.783 426.692 1804.083 348.389 1757.73 284.685 1708.77 217.39800000000002 1641.684 166.507 1565.092 133.976 1481.742 98.57400000000001 1383.665 51.38099999999997 1302.371 91.279 1219.945 131.733 1221.511 250.30900000000003 1171.354 327.217 1130.159 390.38300000000004 1057.274 429.775 1034.688 501.725 1010.179 579.804 1008.701 667.023 1041.098 742.172 1073.789 818.0029999999999 1136.771 881.0350000000001 1212.453 914.071 1283.409 945.043 1363.346 927.163 1440 916.2950000000001' fill='%232b60e3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    background-size: cover;
    background-repeat: no-repeat;
   
}

.imgs
{
  height: 350px;
  width: 400px;
  background-color: brown;
  border: 1px solid black;
}
.hw
{
  width: 50%;
}